/* Col styles */
.my-col-styles {
  min-width: 229px;
  max-width: 229px;
  max-height: 142px;
  width: 100%;
  height: 100%;

  overflow: hidden;

  margin: 0 10px 20px;
  padding: 0;

  cursor: pointer;
}

.my-col-styles img {
  width: 100%;
  height: auto;

  transition: opacity 0.1s linear;
}

.my-col-styles img:hover {
  opacity: 0.9;
}
