/* Row styles */
.my-row-styles {
  margin: 0 10px 30px;
}

/* Col styles */
.my-col-styles {
  max-width: 229px;
  max-height: 142px;

  overflow: hidden;

  margin: 0 10px;
  padding: 0;

  cursor: pointer;
}

.my-col-styles img {
  width: 100%;
  height: auto;

  transition: opacity 0.1s linear;
}

.my-col-styles img:hover {
  opacity: 0.9;
}
