.decoration-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin: 0 auto;
}

.my-text-style {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #cccccc;

  margin-bottom: 11px;
  margin-top: 12px;
  padding: 5px 0;
}
